html {
	overflow-x: hidden !important;
	overflow-y: hidden !important;
	background-color: transparent !important;
}

body {
	font-size: 12px;
	font-family: Arial,Helvetica,sans-serif;
	background-color: transparent !important;
}

#hudDisplay {
	right: 40px;
	bottom: 90px;
	transform: skewY(4deg);
	position: absolute !important;
	
}

#imgserver {top: 20px;right: 0;left: 0;width: 210px;margin: 0 auto 0 auto;}
#imgserver img {max-width: 85%;opacity: 0.5;}

.hudDisplayText {
	font-weight: 700;
	padding: 6px 9px;
	
	color: rgba(255,255,255,0.7);
	position: absolute !important;
	text-shadow: 2px 1px rgba(0, 0, 0, 0.8);
	text-align: right;
}

.infosBack {
	float: left;
	right: 10px;
	bottom: 35px;
	text-align: right;
	color: rgba(255,255,255,0.3);
	position: absolute !important;
	text-shadow: 1px 1px rgba(0,0,0,0.8);
	font-size: 15px;

}

.infosBack b {
	color: rgba(255,255,255,0.5);
}

.voiceBack {
	float: left;
	width: 6px;
	height: 26px;
	margin-left: 10px;
}

.voiceDisplay1 {
	float: left;
	width: 6px;
	height: 6px;
}

.voiceDisplay2 {
	float: left;
	width: 6px;
	height: 6px;
}

.voiceDisplay3 {
	float: left;
	width: 6px;
	height: 6px;
}

.healthBack {
	float: left;
	width: 50px;
	border-radius: 3px 1px 2px ;
	height: 26px;
	background: rgba(255,255,255,0.2);
	margin-left: 5px;
}

.healthDisplay {
	float: left;
	height: 26px;
	background: #ff0000;
}

.armourBack {
	float: left;
	width: 36px;
	border-radius: 3px 1px 2px ;
	height: 26px;
	background: rgba(255,255,255,0.2);
	margin-left: 5px;
}

.armourDisplay {
	float: left;
	height: 26px;
	background: #0bcfe6;
}

.thirstBack {
	float: left;
	width: 27px;
	height: 26px;
	border-radius: 3px 1px 2px ;
	background: rgba(255,255,255,0.2);
	margin-left: 5px;
}

.thirstDisplay {
	float: left;
	height: 26px;
	background: #2E86C1;
}

.hungerBack {
	float: left;
	width: 29px;
	height: 26px;
	border-radius: 3px 1px 2px ;
	background: rgba(255,255,255,0.2);
	margin-left: 5px;
}

.hungerDisplay {
	float: left;
	height: 26px;
	background: #F57C00;
}

.staminaBack {
	float: left;
	width: 29px;
	height: 26px;
	border-radius: 3px 1px 2px ;
	background: rgba(255,255,255,0.2);
	margin-left: 5px;
}

.staminaDisplay {
	float: left;
	height: 26px;
	background: #e0a102;
}

.clockBack {
	float: left;
	width: 51px;
	height: 26px;
	border-radius: 1px;
	background: rgba(0,0,0,0.6);
	margin-left: 5px;
}

#movieTop {
	top: 0;
	left: 0;
	width: 100%;
	height: 12%;
	background: #000;
	position: absolute;
	display: none;
}

#movieBottom {
	bottom: 0;
	left: 0;
	width: 100%;
	height: 12%;
	background: #000;
	position: absolute;
	display: none;
}

#carDisplay {
	right: 10px;
	bottom: 60px;
	font-size: 24px;
	font-weight: 700;
	text-align: right;
	color: rgba(255,255,255,0.6);
	position: absolute !important;
	text-shadow: 1px 1px rgba(0,0,0,1);
}

#carDisplay b {
	font-size: 11px;
	font-weight: 300;
	letter-spacing: 3px;
	padding-right: 5px;
	color: rgba(255,255,255,0.3);
}

#carDisplay s {
	font-size: 11px;
	font-weight: 300;
	letter-spacing: 3px;
	padding-right: 5px;
	color: rgba(134,208,73,0.6);
	text-decoration: none;
}