.version.index{
    color:#00000E;
    background-color:#FF6E7D;
}
#page{
    z-index:1;
    width:1716px;
    min-height:1078px;
    background-image:none;
    border-width:0px;
    border-color:#000000;
    background-color:transparent;
    margin-left:auto;
    margin-right:auto;
}
#pu272{
    z-index:40;
    width:0.01px;
    margin-right:-10000px;
    margin-top:853px;
    margin-left:580px;
}
body {
    overflow: hidden;
}
#u272{
    z-index:40;
    width:555px;
    height:5px;
    position:relative;
}
#u94{
    z-index:2;
    width:555px;
    padding-bottom:31px;
    position:relative;
}
#pu251-4{
    z-index:19;
    width:0.01px;
    margin-right:-10000px;
    margin-top:24px;
    margin-left:17px;
}
#u251-4{
    z-index:19;
    width:119px;
    min-height:15px;
    position:relative;
}
#u223{
    z-index:3;
    width:119px;
    height:117px;
    margin-top:4px;
    position:relative;
}
#u227{
    z-index:4;
    width:119px;
    padding-bottom:4px;
    position:relative;
}
#u230-4{
    z-index:5;
    width:101px;
    min-height:21px;
    position:relative;
    margin-right:-10000px;
    margin-top:4px;
    left:9px;
}
#pu254-4{
    z-index:23;
    width:0.01px;
    margin-right:-10000px;
    margin-top:24px;
    margin-left:149px;
}
#u254-4{
    z-index:23;
    width:119px;
    min-height:15px;
    position:relative;
}
#u278{
    z-index:41;
    width:119px;
    height:117px;
    margin-top:4px;
    position:relative;
}
#u234{
    z-index:9;
    width:119px;
    padding-bottom:4px;
    position:relative;
}
#u235-4{
    z-index:10;
    width:101px;
    min-height:21px;
    position:relative;
    margin-right:-10000px;
    margin-top:4px;
    left:9px;
}
#pu257-4{
    z-index:27;
    width:0.01px;
    margin-right:-10000px;
    margin-top:24px;
    margin-left:281px;
}
#u257-4{
    z-index:27;
    width:119px;
    min-height:15px;
    position:relative;
}
#u281{
    z-index:42;
    width:119px;
    height:117px;
    margin-top:4px;
    position:relative;
}
#u243{
    z-index:14;
    width:119px;
    padding-bottom:4px;
    position:relative;
}
#u244-4{
    z-index:15;
    width:101px;
    min-height:21px;
    position:relative;
    margin-right:-10000px;
    margin-top:4px;
    left:9px;
}
#pu263-4{
    z-index:36;
    width:0.01px;
    margin-right:-10000px;
    margin-top:24px;
    margin-left:414px;
}
#u263-4{
    z-index:36;
    width:119px;
    min-height:15px;
    position:relative;
}
#u284{
    z-index:43;
    width:119px;
    height:117px;
    margin-top:4px;
    position:relative;
}
#u261{
    z-index:31;
    width:119px;
    padding-bottom:4px;
    position:relative;
}
#u262-4{
    z-index:32;
    width:101px;
    min-height:21px;
    position:relative;
    margin-right:-10000px;
    margin-top:4px;
    left:9px;
}
#pu312{
    z-index:45;
    width:0.01px;
    margin-right:-10000px;
    margin-top:853px;
    margin-left:1156px;
}
#u312{
    z-index:45;
    width:163px;
    height:5px;
    position:relative;
}
#u311{
    z-index:44;
    width:119px;
    position:relative;
    padding:24px 22px 31px;
}
#u319-4{
    z-index:51;
    width:119px;
    min-height:15px;
    position:relative;
}
#u320{
    z-index:55;
    width:119px;
    height:117px;
    margin-top:4px;
    position:relative;
}
#u317{
    z-index:46;
    width:119px;
    padding-bottom:4px;
    position:relative;
}
#u318-4{
    z-index:47;
    width:101px;
    min-height:21px;
    position:relative;
    margin-right:-10000px;
    margin-top:4px;
    left:9px;
}
.css_verticalspacer .verticalspacer{
    height:calc(100vh - 2156px);
}
#muse_css_mq,.html{
    background-color:#FFFFFF;
}
body{
    position:relative;
    min-width:1716px;
}
 #u94{
    background-color:#242424;
    background-color:rgba(9,9,9,0.89);
    -pie-background:rgba(9,9,9,0.89);
}
#u223{
    opacity:1.0;
    
    background:rgba(9, 9, 9, 0.5) url("https://i.ibb.co/0DPR483/surpressor.png") no-repeat center center;
    background-size:cover;
}
#u278{
   opacity:1.0;
    
    background:rgba(9, 9, 9, 0.5) url("https://i.ibb.co/0DPR483/surpressor.png") no-repeat center center;
    background-size:cover;
}
#u281{
    opacity:1.0;
    
    background:rgba(9, 9, 9, 0.5) url("https://i.ibb.co/0DPR483/surpressor.png") no-repeat center center;
    background-size:cover;
}
#u284{
    opacity:1.0;
    
    background:rgba(9, 9, 9, 0.5) url("https://i.ibb.co/0DPR483/surpressor.png") no-repeat center center;
    background-size:cover;
}
#u272,#u227,#u234,#u243,#u261{
    background-color:#D61D1D;
}
#u311{
    background-color:#242424;
    background-color:rgba(9,9,9,0.89);
    -pie-background:rgba(9,9,9,0.89);
}
#u251-4,#u254-4,#u257-4,#u263-4,#u319-4{
    background-color:transparent;
    color:#FFFFFF;
    font-size:12px;
    text-align:left;
    line-height:14px;
    font-family:Verdana, Tahoma, Geneva, sans-serif;
}
#u320{
    opacity:1.0;
    
    background:rgba(9, 9, 9, 0.5) url("https://i.ibb.co/0DPR483/surpressor.png") no-repeat center center;
    background-size:cover;
}
#u312,#u317{
    background-color:#207EFF;
}
button {
   border-radius: 0.25rem;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.3);
  	outline: none;
}
.ripple {
  background-position: center;
  transition: background 0.8s;
}
.ripple:hover {
  background: #c90c0c radial-gradient(circle, transparent 1%, #ba0b0b 1%) center/15000%;
}
.ripple:active {
  background-color: #c90c0c;
  background-size: 100%;
  transition: background 0s;
}
.rippleBlue {
  background-position: center;
  transition: background 0.8s;
}
.rippleBlue:hover {
  background: #c90c0c radial-gradient(circle, transparent 1%, #1c69d4 1%) center/15000%;
}
.rippleBlue:active {
  background-color: #c90c0c;
  background-size: 100%;
  transition: background 0s;
}
#u230-4,#u235-4,#u244-4,#u262-4,#u318-4{
    background-color:transparent;
    color:#FFFFFF;
    font-size:16px;
    text-align:center;
    line-height:19px;
    font-family:Verdana, Tahoma, Geneva, sans-serif;
}
 html{
    min-height:100%;
    min-width:100%;
    -ms-text-size-adjust:none;
}
body,div,dl,dt,dd,ul,ol,li,nav,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td,a{
    margin:0px;
    padding:0px;
    border-width:0px;
    border-style:solid;
    border-color:transparent;
    -webkit-transform-origin:left top;
    -ms-transform-origin:left top;
    -o-transform-origin:left top;
    transform-origin:left top;
    background-repeat:no-repeat;
}
button.submit-btn{
    -moz-box-sizing:content-box;
    -webkit-box-sizing:content-box;
    box-sizing:content-box;
}
.transition{
    -webkit-transition-property:background-image,background-position,background-color,border-color,border-radius,color,font-size,font-style,font-weight,letter-spacing,line-height,text-align,box-shadow,text-shadow,opacity;
    transition-property:background-image,background-position,background-color,border-color,border-radius,color,font-size,font-style,font-weight,letter-spacing,line-height,text-align,box-shadow,text-shadow,opacity;
}
.transition *{
    -webkit-transition:inherit;
    transition:inherit;
}
table{
    border-collapse:collapse;
    border-spacing:0px;
}
fieldset,img{
    border:0px;
    border-style:solid;
    -webkit-transform-origin:left top;
    -ms-transform-origin:left top;
    -o-transform-origin:left top;
    transform-origin:left top;
}
address,caption,cite,code,dfn,em,strong,th,var,optgroup{
    font-style:inherit;
    font-weight:inherit;
}
del,ins{
    text-decoration:none;
}
li{
    list-style:none;
}
caption,th{
    text-align:left;
}
h1,h2,h3,h4,h5,h6{
    font-size:100%;
    font-weight:inherit;
}
input,button,textarea,select,optgroup,option{
    font-family:inherit;
    font-size:inherit;
    font-style:inherit;
    font-weight:inherit;
}
.form-grp input,.form-grp textarea{
    -webkit-appearance:none;
    -webkit-border-radius:0;
}
body{
    font-family:Arial, Helvetica Neue, Helvetica, sans-serif;
    text-align:left;
    font-size:14px;
    line-height:17px;
    word-wrap:break-word;
    text-rendering:optimizeLegibility;
    -moz-font-feature-settings:'liga';
    -ms-font-feature-settings:'liga';
    -webkit-font-feature-settings:'liga';
    font-feature-settings:'liga';
}
a:link{
    color:#0000FF;
    text-decoration:underline;
}
a:visited{
    color:#800080;
    text-decoration:underline;
}
a:hover{
    color:#0000FF;
    text-decoration:underline;
}
a:active{
    color:#EE0000;
    text-decoration:underline;
}
a.nontext{
    color:black;
    text-decoration:none;
    font-style:normal;
    font-weight:normal;
}
.normal_text{
    color:#000000;
    direction:ltr;
    font-family:Arial, Helvetica Neue, Helvetica, sans-serif;
    font-size:14px;
    font-style:normal;
    font-weight:normal;
    letter-spacing:0px;
    line-height:17px;
    text-align:left;
    text-decoration:none;
    text-indent:0px;
    text-transform:none;
    vertical-align:0px;
    padding:0px;
}
.list0 li:before{
    position:absolute;
    right:100%;
    letter-spacing:0px;
    text-decoration:none;
    font-weight:normal;
    font-style:normal;
}
.rtl-list li:before{
    right:auto;
    left:100%;
}
.nls-None > li:before,.nls-None .list3 > li:before,.nls-None .list6 > li:before{
    margin-right:6px;
    content:'•';
}
.nls-None .list1 > li:before,.nls-None .list4 > li:before,.nls-None .list7 > li:before{
    margin-right:6px;
    content:'○';
}
.nls-None,.nls-None .list1,.nls-None .list2,.nls-None .list3,.nls-None .list4,.nls-None .list5,.nls-None .list6,.nls-None .list7,.nls-None .list8{
    padding-left:34px;
}
.nls-None.rtl-list,.nls-None .list1.rtl-list,.nls-None .list2.rtl-list,.nls-None .list3.rtl-list,.nls-None .list4.rtl-list,.nls-None .list5.rtl-list,.nls-None .list6.rtl-list,.nls-None .list7.rtl-list,.nls-None .list8.rtl-list{
    padding-left:0px;
    padding-right:34px;
}
.nls-None .list2 > li:before,.nls-None .list5 > li:before,.nls-None .list8 > li:before{
    margin-right:6px;
    content:'-';
}
.nls-None.rtl-list > li:before,.nls-None .list1.rtl-list > li:before,.nls-None .list2.rtl-list > li:before,.nls-None .list3.rtl-list > li:before,.nls-None .list4.rtl-list > li:before,.nls-None .list5.rtl-list > li:before,.nls-None .list6.rtl-list > li:before,.nls-None .list7.rtl-list > li:before,.nls-None .list8.rtl-list > li:before{
    margin-right:0px;
    margin-left:6px;
}
.TabbedPanelsTab{
    white-space:nowrap;
}
.MenuBar .MenuBarView,.MenuBar .SubMenuView{
    display:block;
    list-style:none;
}
.MenuBar .SubMenu{
    display:none;
    position:absolute;
}
.NoWrap{
    white-space:nowrap;
    word-wrap:normal;
}
.rootelem{
    margin-left:auto;
    margin-right:auto;
}
.colelem{
    display:inline;
    float:left;
    clear:both;
}
.clearfix:after{
    content:"\0020";
    visibility:hidden;
    display:block;
    height:0px;
    clear:both;
}
*:first-child+html .clearfix{
    zoom:1;
}
.clip_frame{
    overflow:hidden;
}
.popup_anchor{
    position:relative;
    width:0px;
    height:0px;
}
.allow_click_through *{
    pointer-events:auto;
}
.popup_element{
    z-index:100000;
}
.svg{
    display:block;
    vertical-align:top;
}
span.wrap{
    content:'';
    clear:left;
    display:block;
}
span.actAsInlineDiv{
    display:inline-block;
}
.position_content,.excludeFromNormalFlow{
    float:left;
}
.preload_images{
    position:absolute;
    overflow:hidden;
    left:-9999px;
    top:-9999px;
    height:1px;
    width:1px;
}
.preload{
    height:1px;
    width:1px;
}
.animateStates{
    -webkit-transition:0.3s ease-in-out;
    -moz-transition:0.3s ease-in-out;
    -o-transition:0.3s ease-in-out;
    transition:0.3s ease-in-out;
}
[data-whatinput="mouse"] *:focus,[data-whatinput="touch"] *:focus,input:focus,textarea:focus{
    outline:none;
}
textarea{
    resize:none;
    overflow:auto;
}
.allow_click_through,.fld-prompt{
    pointer-events:none;
}
.wrapped-input{
    position:absolute;
    top:0px;
    left:0px;
    background:transparent;
    border:none;
}
.submit-btn{
    z-index:50000;
    cursor:pointer;
}
.anchor_item{
    width:22px;
    height:18px;
}
.MenuBar .SubMenuVisible,.MenuBarVertical .SubMenuVisible,.MenuBar .SubMenu .SubMenuVisible,.popup_element.Active,span.actAsPara,.actAsDiv,a.nonblock.nontext,img.block{
    display:block;
}
.widget_invisible,.js .invi,.js .mse_pre_init{
    visibility:hidden;
}
.ose_ei{
    visibility:hidden;
    z-index:0;
}
.no_vert_scroll{
    overflow-y:hidden;
}
.always_vert_scroll{
    overflow-y:scroll;
}
.always_horz_scroll{
    overflow-x:scroll;
}
.fullscreen{
    overflow:hidden;
    left:0px;
    top:0px;
    position:fixed;
    height:100%;
    width:100%;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    -ms-box-sizing:border-box;
    box-sizing:border-box;
}
.fullwidth{
    position:absolute;
}
.borderbox{
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    -ms-box-sizing:border-box;
    box-sizing:border-box;
}
.scroll_wrapper{
    position:absolute;
    overflow:auto;
    left:0px;
    right:0px;
    top:0px;
    bottom:0px;
    padding-top:0px;
    padding-bottom:0px;
    margin-top:0px;
    margin-bottom:0px;
}
.browser_width > *{
    position:absolute;
    left:0px;
    right:0px;
}
.grpelem,.accordion_wrapper{
    display:inline;
    float:left;
}
.fld-checkbox input[type=checkbox],.fld-radiobutton input[type=radio]{
    position:absolute;
    overflow:hidden;
    clip:rect(0px, 0px, 0px, 0px);
    height:1px;
    width:1px;
    margin:-1px;
    padding:0px;
    border:0px;
}
.fld-checkbox input[type=checkbox] + label,.fld-radiobutton input[type=radio] + label{
    display:inline-block;
    background-repeat:no-repeat;
    cursor:pointer;
    float:left;
    width:100%;
    height:100%;
}
.pointer_cursor,.fld-recaptcha-mode,.fld-recaptcha-refresh,.fld-recaptcha-help{
    cursor:pointer;
}
p,h1,h2,h3,h4,h5,h6,ol,ul,span.actAsPara{
    max-height:1000000px;
}
.superscript{
    vertical-align:super;
    font-size:66%;
    line-height:0px;
}
.subscript{
    vertical-align:sub;
    font-size:66%;
    line-height:0px;
}
.horizontalSlideShow{
    -ms-touch-action:pan-y;
    touch-action:pan-y;
}
.verticalSlideShow{
    -ms-touch-action:pan-x;
    touch-action:pan-x;
}
.colelem100,.verticalspacer{
    clear:both;
}
.list0 li,.MenuBar .MenuItemContainer,.SlideShowContentPanel .fullscreen img,.css_verticalspacer .verticalspacer{
    position:relative;
}
.popup_element.Inactive,.js .disn,.js .an_invi,.hidden,.breakpoint{
    display:none;
}
#muse_css_mq{
    position:absolute;
    display:none;
    background-color:#FFFFFE;
}
.fluid_height_spacer{
    width:0.01px;
}
.muse_check_css{
    display:none;
    position:fixed;
}
@media screen and (-webkit-min-device-pixel-ratio:0){
    body{
        text-rendering:auto;
    }
}
