/* MADE BY KALU AND KASHNAR
[ALL CITY]
version : 1.00
update : 16/06/2018
info: */

@font-face {
  font-family: 'Edo';
  src: url('font/edosz.ttf');
  font-weight:bold;
  opacity:1;

}

body{
	margin: 0;
	padding: 0;
}

#container {
	margin-top: 05vh;
	margin-left: 28vw; /*25*/
	width: 938px; /*958px;*/
	height: 442px;
	color: white;
	border-radius: 40px;
	border: 1px solid #333;
	background-color: rgba(0,0,0,0.5);
	display: none;
	
	
}

#wrapper-text{
	display: flex;
	font-family: Edo;
	flex-direction: column;
	
	margin-left:6vh;
	margin-right:-80vh;
	font-size: 20px;
	text-align:center;
	opacity:1;
}



#titre {
	font-size: 40px;
	width:800px;
	text-align:center;
	  opacity:1;
}

img{
	width: 860px;
	height: 440px;
	opacity: 1.0;
	border-top-right-radius: 40px;
	border-top-left-radius: 40px;
	border-bottom-left-radius: 40px;
	border-bottom-right-radius: 40px;
}
#wrapper-img{
	width: 200px;
	height: 100px;
	background-image: url("1.png");

}















