<head>
    <script src="nui://game/ui/jquery.js" type="text/javascript"></script>
    <script src="scripts.js" type="text/javascript"></script>
    <script src="debounce.min.js" type="text/javascript"></script>
    <link href='https://fonts.googleapis.com/css?family=Quicksand:300,400' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Lato:400,300' rel='stylesheet' type='text/css'>
    <link href="https://netdna.bootstrapcdn.com/font-awesome/3.1.1/css/font-awesome.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link rel="stylesheet" href="styles.css" type="text/css">
</head>


<body>
    <div class="full-screen" style="position: absolute; bottom: 0px; height: 100%; width: 100%;">
         <div style="height: 10vw; display: flex; justify-content: center;">
            <div class="street">
                <div class="street-txt">Los Santos | Wicket St | Hawick</div>
                <div class="direction"><div class="image"></div></div>
                </div>
         </div>
         <div class="mainDiv" style="left: 4%;position: absolute; bottom: 1vh; width: 100%; margin-left: 12%; display: flex; align-items: flex-end;">
            <div style="float: left;">
                <svg width="53" height="53">
                    <circle class="backgroundCircle" stroke="#FFFFFF" stroke-width="5.8" style="stroke-opacity: 0.2;" fill="transparent" r="21" cx="25" cy="25" stroke-dasharray="85.2 30" stroke-dashoffset="0"/>
                    <circle class="progress progress-speed" stroke="white" stroke-width="5.8" style="stroke-opacity: 1;" fill="transparent" r="21" cx="25" cy="25" stroke-dasharray="84 30" stroke-dashoffset="0"/>
                </svg>
                <div style="position: absolute; width: 53; height: 53; bottom: 0;">
                    <div class="speedamount" style="position: absolute; height: fit-content; margin-left: 0.08vw; bottom: 0; top: 50%; left: 50%; transform: translate(-50%, -50%);"> 100 </div>
                    <div class="smalltext" style="position: absolute; bottom: 0; left:0; right:0; margin-left:auto;margin-right:auto; width: fit-content;"> KM/H </div>
                </div>
            </div>
            <div style="float: left; width: 36; height: 36;">
                <svg class="circle" width="45" height="45">
                    <circle class="backgroundCircle" stroke="#FFFFFF" stroke-width="5.5" style="stroke-opacity: 0.2;" fill="transparent" r="15" cx="25" cy="23" stroke-dasharray="60 25" stroke-dashoffset="0"/>
                    <circle class="progress progress-fuel" stroke="white" stroke-width="5.5" style="stroke-opacity: 1;" fill="transparent" r="15" cx="25" cy="25" stroke-dasharray="50 15" stroke-dashoffset="0"/>
                </svg>
                <div style="position: absolute; width: 36; height: 36; bottom: 0;">
                    <div class="fuelamount" style="position: absolute; height: fit-content; margin-left: 0.08vw; bottom: 0; top: 50%; left: 50%; transform: translate(-50%, -50%);"> 100 </div>
                    <div style="position: absolute; bottom: 0; align-self: center; display: flex; justify-content: center; width: 100%;"> <img src='fuel.png' width='10px' height='10px'> </div>
                </div>
            </div>
            <div class="belt left" style="display: flex; align-items: flex-end; width: 35px; height: 35px; justify-content: center;"> <img src='belt.png' width='25px' height='25px'> </div>
        </div>
    </div>
</body>