#statusHud {
	width: 14.2%;
	position: absolute;
	bottom: 0%;
    left: 1.5%;
	/* border: 1px solid red; */
}

#varHealth {
	width: calc(22.5% - 2px - 4px);
	margin-left: 0px !important;
}
#varArmor {
	width: calc(22.5% - 4px - 4px);

}
#varHealth > .barIcon,
#varArmor > .barIcon {
	width: 10%;
}
#varStress {
	margin-right: 0px !important;
}

#varHealth > #boxSetHealth {
	background: rgb(59, 177, 116);
}
#varArmor > #boxSetArmour {
	background: rgb(66, 137, 255);
}

#varHunger > #boxSetHunger {
	background: rgb(210, 155, 67);
}

#varThirst > #boxSetThirst {
	background: rgb(80, 125, 181);
}

#varOxygen > #boxSetOxygen {
	background: rgb(76, 91, 117);
}

#varStress > #boxSetStress {
	background: rgb(192, 59, 59);
}

.bar {
	background-color: rgba(0, 0, 0, 0.4);
	width: calc(12.5% - 4px - 4px);
	height: 25.5px;
	float: left;

	/* padding: 2px; */
	border: 2px solid rgba(255,255,255,0.8);
	margin-right: 2px;
    margin-left: 2px;
    z-index: 98;
}

.bar2
{
	width: calc(18% - 4px - 4px);

}

.logo
{
	float:right;
	width:70px;
	height:70px;
	margin:2px 2px;
	opacity: 0.3;
}

.texto
{
	color:white;
	font-family: Arial, Helvetica, sans-serif;
	display:flex;
	justify-content:center;
	align-items:center;

	height: 25.5px;
	font-weight: bold;
}
#boxSetHealth, #boxSetArmour, #boxSetHunger, #boxSetThirst, #boxSetOxygen, #boxSetStress {
	width: 100%;
	height: 25.5px;
	background: rgba(110, 110, 110, 0.5);
	position: relative;
	bottom: 0;
	z-index: 97;
}

.barIcon {
	width: calc(12.5% - 4px - 4px);
	height: 15.5px;
	padding-top: 5px;
	position: absolute;
	z-index: 99;
	/* padding: 5px; */
}
