body {
	user-select: none;
}

 @font-face {
     font-family: 'Poppins', sans-serif;
     src: url('./fonts/SignPainter.ttf');
}

.container {
	margin:7% 15%;	
	background-color: rgba(0,0,0,0.75);
	display:none;
}

.container .head {
	background: rgba(11,60,123,1);
	background: linear-gradient(to right, rgba(11,60,123,1) 0%, rgba(49,105,189,1) 100%);
	color:#fff;
	text-align : center;
	height : 112px;
	font-size : 64px;
	font-family: 'Poppins', sans-serif;
	font-weight:200;
	line-height:124px;
	text-shadow: none;
	padding-left:10px;
	padding-right:10px;
}

.container .subtitle {
	display:block;
	font-size:19px;
	background: #000;
	color: #5db6e5;
	padding: 8px 10px;
	font-family: 'Poppins', sans-serif;
 }

.iqdropdown {
	line-height: 1.5em;
	width: 96%;
	margin: 2%;
	    background-color: rgba(255,255,255,0.75);
	display: -ms-flexbox;
	display: flex;
	position: relative;
	cursor: pointer;
	border: 1px solid #D0D0D0;
	height: 50px;
	border-radius: 3px;
	-webkit-tap-highlight-color: transparent;
}

.iqdropdown .iqdropdown-description {
	display: inline-block;
	height: 21px;
	width: 20px;
	background-size: 100% auto;
	vertical-align: middle;
	line-height: 50px;
	margin: 1em 0.5em 0 1em;
}

.iqdropdown .iqdropdown-selection {
	color: #0B0B0B;
	font-family: 'Poppins', sans-serif;
	font-size: 17px;
	font-weight: 600;
	font-style: normal;
	line-height: 50px;
	margin: 0;
	padding: 0 2.5em 0 0.5em;
	position: relative;
	-ms-flex: 1;
	    flex: 1;
}

.iqdropdown .iqdropdown-selection.menu-open::after {
	display: inline-block;
	height: 5px;
	width: 12px;
	background-size: 100% auto;
	vertical-align: middle;
}

.iqdropdown .iqdropdown-selection::after {
	display: inline-block;
	height: 5px;
	width: 12px;
	background-size: 100% auto;
	vertical-align: middle;
	color: #333;
	content: '';
	display: block;
	position: absolute;
	right: 1em;
	top: 25px;
}

.iqdropdown .iqdropdown-menu {
	background: rgba(11,60,123,1);
	background: linear-gradient(to right, rgba(11,60,123,1) 0%, rgba(49,105,189,1) 100%);
	border: 1px solid #B4D9FA;
	color: #333;
	display: none;
	margin: -1px;
	overflow: show;
	padding: 0 15px;
	position: absolute;
	top: 50px;
	left: 0;
	right: 0;
	transition: all 0.2s ease-in-out;
	z-index: 99999;
	cursor: default;
}

.iqdropdown .iqdropdown-menu li {
	border-bottom: 1px solid #B4D9FA;
	color: #333;
	display: -ms-flexbox;
	display: flex;
	list-style: none;
	padding: 15px 0;
}

.iqdropdown .iqdropdown-menu li .iqdropdown-item-display {
	color: #FFF;
	font-family: 'Poppins', sans-serif;
	font-size: 17px;
	font-weight: 500;
	font-style: normal;
	-ms-flex: 1;
	    flex: 1;
}

.iqdropdown .iqdropdown-menu li .iqdropdown-item-display span {
	font-family: 'Poppins', sans-serif;
	font-size: 12px;
	font-weight: 400;
	font-style: normal;
	line-height: 1.3em;
	display: block;
}

.iqdropdown .iqdropdown-menu li .iqdropdown-item-controls {
	color: #FFF;
	font-family: 'Poppins', sans-serif;
	font-size: 17px;
	font-weight: 500;
	font-style: normal;
	border: 1px solid #B4D9FA;
	border-radius: 50px;
	display: -ms-flexbox;
	display: flex;
	overflow: hidden;
}

.iqdropdown .iqdropdown-menu li .iqdropdown-item-controls .counter {
	  padding: 11px 20px;
}

.iqdropdown .iqdropdown-menu li .iqdropdown-item-controls button {
	color: #FFF;
	font-family: 'Poppins', sans-serif;
	font-size: 15px;
	font-weight: 700;
	font-style: normal;
	cursor: pointer;
	appearance: none;
	background: none;
	border: none;
	margin: 0;
	padding: 10px 20px;
}

.iqdropdown .iqdropdown-menu li .iqdropdown-item-controls button .less {
	display: inline-block;
	height: 3px;
	width: 15px;
	background-size: 100% auto;
	vertical-align: middle;
}

.iqdropdown .iqdropdown-menu li .iqdropdown-item-controls button .more {
	display: inline-block;
	height: 15px;
	width: 15px;
	background-size: 100% auto;
	vertical-align: middle;
}

.iqdropdown .iqdropdown-menu li .iqdropdown-item-controls button:first-child {
	border-right: 1px solid #B4D9FA;
}

.iqdropdown .iqdropdown-menu li .iqdropdown-item-controls button:last-child {
	border-left: 1px solid #B4D9FA;
}

.iqdropdown .iqdropdown-menu li .iqdropdown-item-controls button:focus {
	outline: none;
}

.iqdropdown .iqdropdown-menu li:last-child {
	border-bottom: 0;
}

.iqdropdown .show-menu {
	display: block;
	max-height:500px;
	overflow-y:scroll;
}

.iqdropdown .iqdropdown-menu li .iqdropdown-item-controls button:hover {
	background: rgba(11,60,123,1);
	background: linear-gradient(to right, rgba(11,60,123,1) 0%, rgba(49,105,189,1) 100%);
}

button {
    background-color: #5db6e5;
	color: #000;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    border: none;
    padding: 15px 32px;
	margin: 0 0 10px 10px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
}