html,
body,
p,
button {
    padding: 0;
    margin: 0;
}

body.active {
    background-color: rgba(0, 0, 0, 0.5);
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

textarea:focus,
input:focus {
    outline: none;
}

*:focus {
    outline: none;
}

@font-face {
    font-family: vision-heavy;
    src: url(media/font/Vision-Heavy.otf);
}

@font-face {
    font-family: bariol;
    src: url(media/font/Bariol_Regular.otf);
}

.container {
    height: 600px;
    width: 900px;
    margin: auto;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: "bariol", sans-serif;
}

.box-shadow {
    -webkit-box-shadow: 0px 0px 40px 0px rgba(224, 224, 224, 0.5);
    -moz-box-shadow: 0px 0px 40px 0px rgba(224, 224, 224, 0.5);
    box-shadow: 0px 0px 40px 0px rgba(224, 224, 224, 0.5);
}

.cont-content {
    background: #f9f9f9;
    height: calc(100% - 179px);
    width: calc(100% - 120px);
    padding: 60px;
}

.cont-waiting {
    background: #f9f9f9;
    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;
}

.flex {
    display: flex;
}


/*######################################################*/


/* ###############         BUTTON        ###############*/


/*######################################################*/

button {
    cursor: pointer;
    border: 0;
}

.btn {
    width: 236px;
    height: 77px;
    font-family: "vision-heavy", sans-serif;
    font-size: 22px;
    text-transform: uppercase;
    color: white;
    position: relative;
    overflow: hidden;
    text-align: left;
    display: flex;
    padding-left: 20px;
}

.btn .icon {
    line-height: 38px;
    margin-right: 20px;
}

.btn span:last-child {
    font-size: 15px;
    font-family: "bariol", sans-serif;
    text-transform: none;
}

.btn i {
    position: absolute;
    transform: rotate(10deg);
    font-size: 130px;
    left: -19%;
    top: -34%;
    opacity: 0.1;
    transition-duration: 0.3s;
}

.btn-blue {
    background: #268f3a;
}

.btn-blue span:last-child {
    color: #3a5d0d;
}

.btn-violet {
    background: #a555e9;
}

.btn-violet span:last-child {
    color: #380f5a;
}

.btn-orange {
    background: #e5873b;
}

.btn-orange span:last-child {
    color: #5b2c06;
}

.btn-green {
    background: #59BCF8;
}

.btn-green span:last-child {
    color: #10256A;
}

.btn-grey {
    background: #a0a0a0;
}

.btn-grey span:last-child {
    color: #333435;
}

.btn:hover i {
    transform: rotate(0deg);
    font-size: 150px;
}


/*######################################################*/


/* ###############        TOP BAR        ###############*/


/*######################################################*/

.topbar {
    background: linear-gradient(to right, #65C5F5, #1473EF);
    height: 59px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
    overflow: hidden;
}

.parale-1 {
    width: 460px;
    height: 120px;
    -webkit-transform: skew(33deg);
    -moz-transform: skew(33deg);
    -o-transform: skew(33deg);
    tranform: skew(33deg);
    background: white;
    opacity: 0.2;
}

.cont-p-1 {
    transform: rotate(-11deg);
    position: absolute;
    left: -281px;
    top: -23px;
}

.parale-2 {
    width: 430px;
    height: 120px;
    -webkit-transform: skew(33deg);
    -moz-transform: skew(33deg);
    -o-transform: skew(33deg);
    tranform: skew(33deg);
    background: white;
    opacity: 0.2;
}

.cont-p-2 {
    transform: rotate(-10deg);
    position: absolute;
    left: 176px;
    top: -80px;
}

.parale-3 {
    width: 200px;
    height: 60px;
    -webkit-transform: skew(33deg);
    -moz-transform: skew(33deg);
    -o-transform: skew(33deg);
    tranform: skew(33deg);
    background: white;
    opacity: 0.2;
}

.cont-p-3 {
    transform: rotate(-10deg);
    position: absolute;
    left: 720px;
    top: 25px;
}

nav {
    width: calc(100% - 40px);
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    z-index: 1;
}

.btn-sign-out {
    color: white;
    background: rgba(0, 0, 0, 0);
    font-size: 20px;
    font-family: "bariol", sans-serif;
}

.btn-sign-out i {
    font-size: 15px;
    margin-left: 20px;
    transition-duration: 0.3s;
}

.btn-sign-out:hover i {
    margin-left: 10px;
}

.logo-topbar {
    height: 32px;
    width: 108px;
    background-image: url(media/img/logo-top.png);
    background-repeat: no-repeat;
}


/*######################################################*/


/* ###############       MAIN MENU       ###############*/


/*######################################################*/

.balance {
    width: 403px;
    height: 183px;
    background: white;
    margin-right: 60px;
    margin-bottom: 60px;
    padding: 40px;
    color: #414141;
    font-size: 16px;
    background-image: url(media/img/curve.png);
    background-repeat: no-repeat;
    background-position: bottom;
}

.balance .name {
    font-size: 25px;
    color: #65C5F5;
    margin-bottom: 5px;
    display: block;
}

.balance .money {
    font-size: 60px;
    color: #4D85CE;
    font-family: "vision-heavy", sans-serif;
}

.balance .money .dollars {
    color: #e1e0e0;
}

.list-btn {
    height: 263px;
    width: 236px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.pub {
    width: 360px;
    height: 98px;
    background: white;
    position: relative;
}

.confiance {
    margin-right: 60px;
    display: flex;
    justify-content: space-between;
}

.confiance p {
    width: 235px;
    color: #7e7e7e;
    font-size: 16px;
    margin: 25px 0 0 20px;
}

.confiance p span {
    text-transform: uppercase;
    font-size: 16px;
    color: #181818;
    font-family: "vision-heavy", sans-serif;
}

.circle-confiance {
    width: 75px;
    height: 75px;
    background-image: url(media/img/circle.png);
    margin: 11px;
}

.social {
    background-image: url(media/img/graph.png);
    background-repeat: no-repeat;
    background-position-y: 18px;
    background-position-x: 10px;
}

.graph {
    width: 275px;
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin-top: 15px;
    margin-left: 16px;
}

.graph li {
    width: 27px;
    color: rgba(255, 255, 255, 0.5);
    text-align: center;
}

.graph .facebook {
    background-color: #3b5999;
    height: 40px;
    line-height: 40px;
    margin-top: 30px;
}

.graph .google {
    background-color: #dd4b39;
    height: 20px;
    line-height: 20px;
    margin-top: 50px;
}

.graph .rss {
    background-color: #e6973b;
    height: 29px;
    line-height: 29px;
    margin-top: 41px;
}

.graph .twitter {
    background-color: #55acee;
    height: 70px;
    line-height: 70px;
}

.graph .insta {
    background-color: #e4405f;
    height: 55px;
    line-height: 55px;
    margin-top: 15px;
}

.social p {
    position: absolute;
    font-family: "vision-heavy", sans-serif;
    font-size: 16px;
    color: #181818;
    text-transform: uppercase;
    top: 16px;
    left: 35px;
}


/*######################################################*/


/* ###############     DEPOSER MENU      ###############*/


/*######################################################*/

.banniere {
    width: 464px;
    margin-right: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

form {
    margin-top: 60px;
}

label {
    margin-bottom: 10px;
    font-size: 17px;
    color: #414141;
    font-family: "bariol", sans-serif;
}

.input-cont {
    width: 720px;
    height: 87px;
    background: white;
    display: flex;
    flex-direction: column;
    padding: 30px;
    margin-bottom: 60px;
}

.input-cont input {
    width: 100%;
    height: 50px;
    text-align: center;
    border: 0;
    font-size: 60px;
    color: #4D85CE;
    font-family: "vision-heavy", sans-serif;
}

.input-cont input::-webkit-input-placeholder {
    color: #59BCF8;
}

.double-input {
    display: flex;
    justify-content: space-between;
}

.double-input .input-cont {
    width: 300px;
}

.double-input input {
    font-size: 35px;
}


/*######################################################*/


/* ###############        WAITING        ###############*/


/*######################################################*/

.bg-waiting {
    width: 1000px;
    height: 450px;
    background: linear-gradient(to right, #11EBEF, #1473EF);
    position: relative;
    transform: rotate(-8deg);
    top: -70px;
    left: -70px;
}

.mainlogo {
    margin: auto;
    width: 320px;
    height: 95px;
    background-image: url(media/img/logo-big.png);
    background-repeat: no-repeat;
    margin-top: 70px;
}

.content-waiting p {
    margin-top: 70px;
}

.content-waiting {
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 1;
    width: 410px;
    position: absolute;
    left: 50%;
    text-align: center;
    margin-left: -205px;
    font-size: 30px;
    color: white;
}

.content-waiting span {
    color: #414141;
}

#fingerprint-content {
    position: relative;
    margin: auto;
    margin-top: 127px;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 4px solid #eaeaea;
    cursor: pointer;
    overflow: hidden;
    transition-duration: 0.2s;
}

#fingerprint-content:hover {
    border: 4px solid #59BCF8;
}

.fingerprint-default {
    position: absolute;
    width: 120px;
    height: 120px;
    background-image: url(media/img/fingerprint.jpg);
    background-repeat: no-repeat;
    background-position: bottom;
    opacity: 0.2;
    transition-duration: 1.2s;
}

.fingerprint-active {
    position: absolute;
    width: 120px;
    height: 0px;
    background-image: url(media/img/fingerprint.jpg);
    background-repeat: no-repeat;
    background-position: bottom;
    transition-duration: 1.2s;
    bottom: 0;
}

.fingerprint-active.active {
    height: 120px;
}

.fingerprint-bar {
    width: 126px;
    height: 3px;
    border-radius: 3px;
    background-color: #a5a5a5;
    position: absolute;
    bottom: -3px;
    transition-duration: 1.2s;
}

.fingerprint-bar.active {
    bottom: 123px;
}

.parale-4 {
    width: 627px;
    height: 150px;
    -webkit-transform: skew(33deg);
    -moz-transform: skew(33deg);
    -o-transform: skew(33deg);
    tranform: skew(33deg);
    background: white;
    opacity: 0.1;
}

.cont-p-4 {
    transform: rotate(-1deg);
    position: absolute;
    left: -35px;
    top: -25px;
}

.parale-5 {
    width: 397px;
    height: 70px;
    -webkit-transform: skew(33deg);
    -moz-transform: skew(33deg);
    -o-transform: skew(33deg);
    tranform: skew(33deg);
    background: white;
    opacity: 0.1;
}

.cont-p-5 {
    transform: rotate(-1deg);
    position: absolute;
    left: 830px;
    top: 98px;
}

.parale-6 {
    width: 397px;
    height: 70px;
    -webkit-transform: skew(33deg);
    -moz-transform: skew(33deg);
    -o-transform: skew(33deg);
    tranform: skew(33deg);
    background: white;
    opacity: 0.1;
}

.cont-p-6 {
    transform: rotate(-1deg);
    position: absolute;
    left: -28px;
    top: 366px;
}

.parale-7 {
    width: 397px;
    height: 70px;
    -webkit-transform: skew(33deg);
    -moz-transform: skew(33deg);
    -o-transform: skew(33deg);
    tranform: skew(33deg);
    background: white;
    opacity: 0.1;
}

.cont-p-7 {
    transform: rotate(-1deg);
    position: absolute;
    left: 272px;
    top: 416px;
}

#result {
    position: absolute;
    top: 20px;
    width: 820px;
    padding: 25px 40px;
    font-size: 16px;
    color: white;
}

.alert-green {
    background: #59BCF8;
}

.alert-orange {
    background: #e5873b;
}