		//Import google fonts 
		@import url('https://fonts.googleapis.com/css?family=Amatic+SC');
		@import url('https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.1/animate.min.css');


		body {
            margin: 0px;
            background: #000;
			cursor:default;
        }
		
        #app {
            position: absolute;
            top: 0px;
            left: 0px;
			z-index: 5;
			mix-blend-mode: screen;
        }
        #bg_alt {
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0px;
            top: 0px;
            z-index: 1;
            mix-blend-mode: screen;
            background-repeat: no-repeat;
            background-position: 50% 50%;
            background-size: cover;
            background-origin: padding-box;
            background-attachment: scroll;
            box-shadow: 0px 0px 1000px #000 inset;
        }
				
		#logo {
			z-index: 5;
			position: absolute;
            width: 470px;
            height: 470px;
            left: 0px;
            top: 0px;
            background-repeat: no-repeat;
            background-size: cover;
            background-origin: padding-box;
		}
		
		.footer {
			text-align: center;	   
		    position: absolute;
			padding: 1rem 1rem 0.8rem 1rem;
			bottom: -5px;
			left: 50%;
			transform: translateX(-50%) translateY(-10%);
			z-index: 4;
			/*border: 1px solid #000000;*/
			color: #060dc0;
			font-family: "Josefin Sans", sans-serif;
			background: rgba(0, 0, 0, 0.7);
			/*border-radius: 100px;*/
			opacity: 0;
		  	   
		}
		#discord {
			font-size:2em;
			/*color:rgba(14, 111, 255, 0.3);
			-webkit-text-stroke-width:1px;
			-webkit-text-stroke-color: rgba(32, 255, 0, 1);*/
			font-family: "Josefin Sans", sans-serif;
			opacity: 0;
		}
		/*
		#loader #spinner {
		  animation: spinner-anim 2s ease-out infinite;
		}
		#loader #spinner::before {
		  animation: spinner-anim 2s ease-out infinite;
		}
		#loader #spinner::after {
		  animation: spinner-anim 1s ease-out infinite;
		}
*/
		#loader {
		  bottom: 20px;
		  left: 20px;
		  z-index: 3;
		  align-items: center;
		  justify-content: flex-start;
		  transition: opacity 0.5s ease-in-out;
		  display: flex;
		  align-items: center;
		  justify-content: center;		  
		  opacity: 0;	
		
		}

			
		#loader #loading-text {
		  font-size: 1.8em;
		  color: #060dc0;
		  transition: all 0.5s ease-in-out;
		}
		#loader #spinner {
		  margin-right: 15px;
		  font-size:30px;
		  opacity: 0;
		}	
		#videobg {
			position: fixed;
			top: 0;
			left: 0;
			min-width: 100%;
			min-height: 100%;
			width: auto;
			height: auto;
			z-index: 2;
            mix-blend-mode: screen;
            background-repeat: no-repeat;
            background-position: 50% 50%;
            background-size: cover;
            background-origin: padding-box;
            background-attachment: scroll;
            box-shadow: 0px 0px 1000px #000 inset;
		}		
		.videogrid {
		    position: absolute;
			width: 100%;
			height: 100%;
			z-index:5;
			top: 0px;
			left: 0px;
		}
		#fumo {
			position: fixed;
			top: 0;
			left: 0;
			min-width: 100%;
			min-height: 100%;
			width: auto;
			height: auto;
			z-index: 2;
            mix-blend-mode: screen;
		}
		.logo-alt canvas{
			position: fixed;
			top: 0;
			left: 0;
			min-width: 100%;
			min-height: 100%;
			width: auto;
			height: auto;
			z-index:5;
		}
		.musica {
			position: fixed;
			z-index: 10;
			text-align: center;	   
		    position: absolute;
			padding: 1rem 1rem 0.8rem 1rem;
			top: 15px;
			left: 310px;
			transform: translateX(-50%) translateY(-10%);
			border: 1px solid #000000;
			/*color: #060dc0;*/
			font-family: "Josefin Sans", sans-serif;
			background: rgba(0, 0, 0, 0.7);
			border-radius: 15px;
			/*font-size:2em;*/	
			width: 300px;
		    opacity: 0;
		}
		
		.column {
		  float: left;
		}

		.row:after {
		  content: "";
		  display: table;
		  clear: both;
		}
		
		input[type="range"] {
			-webkit-appearance: none;
			-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
			width: 50%;
			height: 4px;
			margin: 0;
			border: none;
			border-radius: 0px;
			padding: 0px 1px;
			background: rgb(201, 10, 10);
			outline: none;	
		}
		input[type="range"]::-moz-range-track {
			border: inherit;
			background: rgb(196, 56, 56);
		}
		input[type="range"]::-ms-track {
			border: inherit;
			color: rgba(0, 0, 0, 0);
			background: rgb(215, 34, 34);
		}
		input[type="range"]::-ms-fill-lower, input[type="range"]::-ms-fill-upper {
			background: rgb(190, 34, 22);
		}
		input[type="range"]::-ms-tooltip {
			display: none;
		}
		input[type="range"]::-webkit-slider-thumb {
			-webkit-appearance: none;
			width: 12px;
			height: 12px;
			border: none;
			border-radius: 6px;
			background-color: rgb(255, 255, 255);
		}
		input[type="range"]::-moz-range-thumb {
			width: 12px;
			height: 12px;
			border: none;
			border-radius: 6px;
			background-color: rgb(255, 255, 255);
		}
		input[type="range"]::-ms-thumb {
			width: 12px;
			height: 12px;
			border-radius: 6px;
			border: 0;
			background-color: rgb(255, 255, 255);
		}
		input[type="range"]::-webkit-slider-thumb:hover, input[type="range"]::-webkit-slider-thumb:focus, input[type="range"]::-webkit-slider-thumb:active {
			background-color: rgb(239, 109, 188);
		}
		input[type="range"]::-moz-range-thumb:hover, input[type="range"]::-moz-range-thumb:focus, input[type="range"]::-moz-range-thumb:active {
			background-color: rgb(239, 109, 188);
		}
		input[type="range"]::-ms-thumb:hover, input[type="range"]::-ms-thumb:focus, input[type="range"]::-ms-thumb:active {
			background-color: rgb(239, 109, 188);
		}
		
		#cursor {
			width: 35px;
			height: 35px;
			position: absolute;
			z-index: 1000;
		}
		
