@font-face {
  font-family: justsignature;
  src: url('../fonts/justsignature/JustSignature.woff');
}
body, html {
  width: 100%;
  height: 100%;
}
p {
  padding: 0;
  margin: 0;
  text-transform: uppercase;
  color: #9e9e9e;
  font-size: 12px;
  color: #282828;
}
#id-card {
  position: relative;
  display: none;
  margin: 230px 50px 0 0;
  float: right;
  width: 457px;
  height: 272px;
  padding: 54px 17px 10px 144px;
  background: url("../images/idcard.png");
}

#carlicence-card {
  position: relative;
  display: none;
  margin: 230px 50px 0 0;
  float: right;
  width: 457px;
  height: 272px;
  padding: 54px 17px 10px 144px;
  background: url("../images/idcard.png");
}

#firearm-card {
  position: relative;
  display: none;
  margin: 230px 50px 0 0;
  float: right;
  width: 457px;
  height: 272px;
  padding: 54px 17px 10px 144px;
  background: url("../images/idcard.png");
}

#id-card {
  position: relative;
  display: none;
  margin: 230px 50px 0 0;
  float: right;
  width: 457px;
  height: 272px;
  padding: 54px 17px 10px 144px;
  background: url("../images/idcard.png");
}
/*Cartao De Cidadao*/
#imgbi {
  position: absolute;
  left:338px;
  top:130px;
  width: 100px;
  height: 136px;
}
#name {
  font-weight: bolder;
  font-size: 18px;
  color: #282828;
  position: absolute;
  left:130px;
  top:63px;
}
#type {
  font-weight: bolder;
  font-size: 18px;
  color: #282828;
  position: absolute;
  left:100px;
  top:63px;
}
#name1 {
  font-weight: bolder;
  font-size: 18px;
  color: #282828;
  position: absolute;
  left:130px;
  top:103px;
}
#inline {
  position: absolute;
  top: 109px;
}
#dob {
  font-weight: bolder;
  position: absolute;
  font-weight: bolder;
  top: 40px;
  left: 120px;
  width: 100px;
}
#sex {
  font-weight: bolder;
  position: absolute;
  left: -12px;
  top: 40px;
}
#height {
  font-weight: bolder;
  position: absolute;
  top: 40px;
  left: 17px;
  width: 40px;
}
#signature {
  position: absolute;
  left:140px;
  top:235px;
  color: #282828; /*b1b177*/
  font-size: 19px;
  text-transform:capitalize;
  font-family: justsignature;
  font-weight: bolder;
}

/*CARTA DE CONDUCAO*/
#imgcarta {
  position: absolute;
  left:35px;
  top:85px;
  width: 85px;
  height: 125px;
}
#namecarta {
  font-weight: bolder;
  font-size: 13px;
  color: #282828;
  position: absolute;
  left:150px;
  top:45px;
}
#namecarta1 {
  font-weight: bolder;
  font-size: 13px;
  color: #282828;
  position: absolute;
  left:150px;
  top:60px;
}
#dobcarta { /*data de nascimento*/
  color: #282828;
  font-weight: bolder;
  position: absolute;
  font-weight: bolder;
  top: -33px;
  left: 5px;
  width: 100px;
}
#sexcarta {
  color: #282828;
  font-weight: bolder;
  position: absolute;
  left: -12px;
  top: 40px;
}
#heightcarta {
  color: #282828;
  font-weight: bolder;
  position: absolute;
  top: 40px;
  left: 17px;
  width: 40px;
}
#signaturecarta {
  position: absolute;
  left:150px;
  top:145px;
  color: #282828; /*b1b177*/
  font-size: 12px;
  text-transform:capitalize;
  font-family: justsignature;
  font-weight: bolder;
}
#licenses {
  color: #282828;
  position: absolute;
  top: 227px;
  left: 50px;
  width: 270px;
}

/*Porte de Arma*/

#namearma {
  font-weight: bolder;
  font-size: 13px;
  color: #282828;
  position: absolute;
  left:50px;
  top:148px;
}

#licensearma {
  font-size: 22px;
  font-weight: bolder;
  color: #282828;
  position: absolute;
  top: 220px;
  left: 22px;
  width: 270px;
}









