.container {
  background-color: rgba(0, 0, 0, 0.45);
}
.emo-itemlist-content {
  color: #242424;
  background-color:rgba(255, 255, 255, 0.3);
  background-blend-mode: multiply, multiply;
  /* transition: 0.1s; */
}
.emo-itemlist-content:hover {
  box-shadow: 1px 1px 4px 2px rgba(255, 255, 255, 1);
}
.emo-itemlist-type {
  color: #fff;
  border-bottom: solid 2px rgba(0, 0, 0, 0.4);
  background: linear-gradient(to bottom, #0a4db3 0%, #064291 40%, #0223368e 150%),
    linear-gradient(
      to top,
      rgba(255, 255, 255, 0.4) 0%,
      rgba(0, 0, 0, 0.25) 200%
    );
  background-blend-mode: multiply;
  border-radius: 0px 0px 10px 10px;
}
.emo-item:hover,
.emo-item:focus {
  /* transition: 0.1s; */
  font-size: 18px;
  color: rgba(0, 0, 0, 0.6);
  font-weight: bold;
  background-blend-mode: multiply;
}
.emo-itemlist-history-item {
  background: linear-gradient(to bottom, #0a4db3 0%, #064291 40%, #0223368e 150%),
  linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.4) 0%,
    rgba(0, 0, 0, 0.25) 200%
  );
  color:white;
  background-blend-mode: multiply, multiply;
  /* transition: 0.1s; */
}
.emo-itemlist-history-item:hover,
.emo-itemlist-history-item:focus {

  color: black;
  font-weight: bold;
}

/* ===== Input ====== */
input {
    outline: 0;
  }
  input::placeholder {
    color: rgba(255, 255, 255, 0.5);
  }
  .input-search {
    font-size: 22px;
    border: 0;
    border-radius: 5px;
    text-align: center;
    padding: 4px;
    color: #fff;
    border: solid 2px rgb(255 255 255 / 0.65);
    transition: 0.1s;
    background-image: linear-gradient(to right, #0a4db3 0%, #064291 100%);
  }
  .input-search:hover,
  .input-search:focus {
    border: solid 1px #fff;
    box-shadow: 1px 1px 8px 0px rgb(255 255 255);
  }
